In [1]:
from sklearn.decomposition import PCA
import pandas as pd
from sklearn.linear_model import LinearRegression

In [82]:
df = pd.read_csv("Mechanical_datasets/Cars_mileage/Cars_mileage.csv")

In [83]:
df.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

# Exploratory Data Analysis

In [85]:
input_features = df.drop(['MPG'], axis='columns')
input_features.head()

   HP  VOL          SP         WT
0  49   89  104.185353  28.762059
1  55   92  105.461264  30.466833
2  55   92  105.461264  30.193597
3  70   92  113.461264  30.632114
4  53   92  104.461264  29.889149

In [86]:
input_features.describe()

               HP         VOL          SP         WT
count   81.000000   81.000000   81.000000  81.000000
mean   117.469136   98.765432  121.540272  32.412577
std     57.113502   22.301497   14.181432   7.492813
min     49.000000   50.000000   99.564907  15.712859
25%     84.000000   89.000000  113.829145  29.591768
50%    100.000000  101.000000  118.208698  32.734518
75%    140.000000  113.000000  126.404312  37.392524
max    322.000000  160.000000  169.598513  52.997752

In [88]:
input_features.isna().sum()

HP     0
VOL    0
SP     0
WT     0
dtype: int64

In [90]:
input_features.corr()

           HP       VOL        SP        WT
HP   1.000000  0.077459  0.973848  0.076513
VOL  0.077459  1.000000  0.102170  0.999203
SP   0.973848  0.102170  1.000000  0.102439
WT   0.076513  0.999203  0.102439  1.000000

In [15]:
pca = PCA(0.95) #retaining 95% of principal Component/Input feature
#X_pca = pca.fit_transform(input_features)
type(input_features.horsepower[0])

str