In [123]:
from sklearn.decomposition import PCA
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [124]:
df = pd.read_csv("Mechanical_datasets/Cars_mileage/auto-mpg_kaggle.csv")

In [125]:
df.info()
#df['origin'].unique()
#df['model year'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

# Exploratiry Data Analysis
1. feature horsepower has special character '?' and its datatype is string, convert string to int and replace '?' with mean value
2. correlation of input_feature Dataframe clearly shows that features cylinders, displacement, horsepower, weight has good correlation with each other.

In [126]:
target = df.mpg
input_features = df.drop(['mpg', 'model year', 'origin', 'car name'], axis='columns')
input_features.head()

   cylinders  displacement horsepower  weight  acceleration
0          8         307.0        130    3504          12.0
1          8         350.0        165    3693          11.5
2          8         318.0        150    3436          11.0
3          8         304.0        150    3433          12.0
4          8         302.0        140    3449          10.5

In [127]:
import string
import numpy as np
alphabet = string.ascii_letters+string.punctuation
horse_power=[]
for x in input_features.horsepower:
    if x in alphabet:
        #print(x)
        horse_power.append(np.NaN)
    else:
        horse_power.append(int(x))

horsepower_Series = np.array(horse_power)

In [128]:
type(horsepower_Series[0])

numpy.float64

In [129]:
input_features.horsepower = horsepower_Series
input_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     398 non-null    int64
 1   displacement  398 non-null    float64
 2   horsepower    392 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
dtypes: float64(3), int64(2)
memory usage: 15.7 KB

In [130]:
input_features.horsepower = input_features.horsepower.fillna(input_features.horsepower.mean())
input_features.horsepower = input_features.horsepower.astype(float).astype(int)

In [131]:
input_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     398 non-null    int64
 1   displacement  398 non-null    float64
 2   horsepower    398 non-null    int32
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
dtypes: float64(2), int32(1), int64(2)
memory usage: 14.1 KB

In [132]:
input_features.describe()

        cylinders  displacement  horsepower       weight  acceleration
count  398.000000    398.000000  398.000000   398.000000    398.000000
mean     5.454774    193.425879  104.462312  2970.424623     15.568090
std      1.701004    104.269838   38.199230   846.841774      2.757689
min      3.000000     68.000000   46.000000  1613.000000      8.000000
25%      4.000000    104.250000   76.000000  2223.750000     13.825000
50%      4.000000    148.500000   95.000000  2803.500000     15.500000
75%      8.000000    262.000000  125.000000  3608.000000     17.175000
max      8.000000    455.000000  230.000000  5140.000000     24.800000

In [133]:
input_features.corr()

              cylinders  displacement  horsepower    weight  acceleration
cylinders      1.000000      0.950721    0.839061  0.896017     -0.505419
displacement   0.950721      1.000000    0.893760  0.932824     -0.543684
horsepower     0.839061      0.893760    1.000000  0.860676     -0.684376
weight         0.896017      0.932824    0.860676  1.000000     -0.417457
acceleration  -0.505419     -0.543684   -0.684376 -0.417457      1.000000

# Applying PCA

In [134]:
pca = PCA(0.95) #retaining 95% of principal Component/Input feature
X_pca = pca.fit_transform(input_features)
X_pca.shape

(398, 1)

In [135]:
target.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

In [140]:
X_train, X_test, y_train, y_test = train_test_split(X_pca, target, test_size = 0.30)

In [141]:
regr = LinearRegression()
regr.fit(X_train, y_train)
print(regr.score(X_test, y_test))

0.7261585973524036