# Pandas CheatSheet

In [1]:
import pandas as pd
import numpy as np
import matplotlib

# DataSeries
    Its like a column in a table

In [13]:
color = [0,128,256]
pd.Series(color)

0      0
1    128
2    256
dtype: int64

In [14]:
pd.Series(color, index=["Black", "Grey", "White"])

Black      0
Grey     128
White    256
dtype: int64

# DataFrame
    2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns

In [2]:
df = pd.DataFrame(np.random.randn(5,3),columns=['C1','C2','C3'])
df

         C1        C2        C3
0  0.669659 -0.028234  3.325094
1 -1.600615  2.103938 -0.312261
2  1.074631 -1.377459 -0.357009
3  0.607043 -0.284320  0.858130
4 -0.002411  1.086559  1.934851

In [ ]:
df.head(10) # Displays first 10 entries in the Df, default head shows first 5
df.tail() # Default, Shows last 5 entries
df.info() # Returns info (Rows&column, value datatype, non-null count) about the I/P Df
df.duplicated() # Returns True if Rows are duplicated
df.isna().sum().sort_values(ascending=False) # Sorts (desceding order, deafault ascending) sum of NaN values in each column
df.drop(C1, axis=1) # Drops Column
df.drop(df.iloc[:,:5],axis=1) # Drop by Indexing
df.C1.unique() # Unique elements in the Specified column
df.C1.nunique() # Unique No.of elements in the Specified column
df.dtypes # dataType of each column in df
df.columns/ df.keys() # Returns columns headings/keys
df.C1.value_counts() # No.of occurence/mode each unique values in the column
grp_df = df.groupby('cat_feature') # function is used to split the data into groups based on cat_feature
grp_df.get_group('cat_feature1') # gets the values contained in the "cat_feature1" group
df.rename(columns={'Existing Name':'New Name'}) # Rename coloumn Name
pd.get_dummies(df.gender, drop_first=True) # Drops 1st coloumn to avoid dummy varaible trap
pd.concat([df, pd.get_dummies(df['gender'], drop_first=True)], axis=1) # Concat dummies to pandas df 
## Function Application
df.apply() # Takes function as an arg and applies to each row/column (default column, axis=1 row) of Df

## Statistical Function
df.corr() # Shows relationship between columns

## Iteration
df.iteritems() # Column value as Series Object
df.iterrows() # Iterate over rows

## Working with String data
df.get_dummies() # One-Hot Encoding

## Visualization
df.plot.bar()
df.plot.barh() # Horizontal bar
df.plot.hist()
df.diff.hist() # plots Histogram seperatley for each 
df.plot.box()
df.plot.area()
df.plot.scatter(x='Input', y='Output')
df.plot.pie(subplots=True)
#Resize using Matplotlib
matplotlib.rcParams['figure.figsize'] = (12,6)

## Merge Two DataFrame

pd.merge(left_df1, right_df2, on='feature_x', how='left') #on feature/column 'feature_x' merged df will be updated on left_df1

## Descriptive Statistics
#arg (0,1) index of column
df.count() #No.ofnon-null observations
df.sum()
df.mean()
df.median()
df.std() #Standard Deviation of values/each numerival column
df.min()
df.max()
df.abs()
df.prod()
df.cumsum()
df.cumprod()
df.describe() #Summarise Descriptive stats of all Numerical columns